body {
    background-color: rgb(49, 48, 48);
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

header {
    text-align: center;
    font-size: larger;
}

h1 {
    color: rgba(232, 102, 236);
}

code {
    color: white;
    background-color: rgb(17, 15, 15);
    border: white solid 1px;
}

pre {
    background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
    );
}

.card-layout {  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;
    padding: 2%;
} 


.card-container {
    border: 1px dashed white;
}

.card-title {
    border: 1px solid white;
    padding: 5px;
    position: relative;
    margin-top: -20px;
}

.title-caption {
    color: rgb(232, 102, 236);
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .card-layout {
        display: flex;
        flex-direction: column;
}
    
}